{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ css }}">
</head>
<body>
<div class="wrapper h-100">
    <section class="content-503 px-lg-5 px-0">
        <div class="h-100 container d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h3 class="sf-light desc-503 mt-2 text-left">
                    Сайт временно недоступен.
                    <br>
                    Ведутся технические работы.
                </h3>
                <h3 class="sf-light desc-503 mt-3 text-left">
                    Приносим извинения за предоставленные неудобства.
                    <br>
                    Совсем скоро мы презентуем улучшенный
                    <br>
                    и более функциональный сайт.
                    <br>
                    Оставайтесь с нами!
                </h3>
            </div>
        </div>
    </section>
</div>
</body>
</html>
