{% load static %}
<div class="wrapper">
    <div class="container align-items-center" style="height:100vh;">
        <div class="mail-header"
            style="display: flex;flex-wrap: wrap;justify-content:space-between;background: #1D1D1F;border-radius: 10px 10px 0px 0px;padding: 18px 28px;">
            <div style="display: flex;width: 50%;">
                <a style="font-weight: 600;font-size: 24px;line-height: 29px; color: #FFFFFF;text-decoration: none"
                    href="{% url 'home' %}">
                    iStore
                </a>
                <p style="font-weight: 300;font-size: 12px;line-height: 105%;color: #E9E9ED;margin: 3px 13px;">Фирменный
                    магазин <br>
                    Apple в Бишкеке</p>
            </div>
            <div style="display: flex;width: 50%;">
                <p style="font-size: 14px;line-height: 125%;color: #FFFFFF;margin: 0 0 0 auto;"> +996 (555) 802 000 <br>
                    +996 (707) 682 536
                </p>
                <p style="font-weight: normal;font-size: 14px;line-height: 105%;color: #FFFFFF; margin:0 15px">ул.
                    Манаса, 40(пер ул.
                    Киевская) <br> Пн - Вс 10:00 - 20:00
                </p>
            </div>
        </div>
        <div class="mail-body" style="padding: 50px 28px;">
            <p style="font-weight: bold;font-size: 30px;line-height: 135%;color: #000000;">Восстановление пароля</p>
            <p style="font-weight: normal;font-size: 16px;line-height: 125%;color: #8F8F8F;">С вашей учетной записи был сделан запрос на восстановление пароля.</p>
            <p style="font-weight: normal;font-size: 16px;line-height: 125%;color: #8F8F8F;">
                <span style="font-weight:medium;">Ваш код: </span>
                <span style="color:#5E8BCE;font-size:20px;">{{code}}</span>
            </p>
        </div>
        <div class="footer-email w-100"
            style="display: flex;text-align: center; background: #F1F1F1;border-radius: 0px 0px 10px 10px;">
            <p style="font-size: 14px;line-height: 125%;color: #8F8F8F;width: 100%">Copyright 2013-{{currentYear}} istore.kg все
                права защищены</p>
        </div>
    </div>
</div>