{% load static %}
<div class="modal fade" id="notifyShow" tabindex="-1" role="dialog" aria-labelledby="notifyShow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex flex-wrap justify-content-center">
                <div class="w-100">
                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                        <img src="{% static 'img/close.svg' %}" alt="">
                    </button>
                </div>
                <div class="w-100 text-center">
                    <img class="notify-status" src="{% static 'img/green-mark.svg' %}" alt="">
                    <h5 class="modal-title sf-medium notify-title"></h5>
                    <p class="modal-desc sf-reg px-5 notify-desc">Товар добавлен</p>
                </div>
                <div class="col-10 mt-4 only-continue">
                    <button type="submit" class="btn btn-primary   w-100 waves-effect waves-light my-4"  data-dismiss="modal" aria-label="Close">
                        Продолжить
                    </button>
                </div>
                <div class="col-6 px-1 continue-and-checkout d-none">
                    <button type="submit" class="btn btn-secondary w-100 waves-effect waves-light my-4"  data-dismiss="modal" aria-label="Close">
                        Продолжить покупки
                    </button>
                </div>
                <div class="col-6 px-1 continue-and-checkout d-none">
                    <a href="{% url 'checkout' %}" class="btn btn-primary w-100 waves-effect waves-light my-4">
                        Оформить заказ
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>